// default colors - start
// ==================================================
$body-font: 'Lato', sans-serif;
$heading-font: 'Ubuntu', sans-serif;
// default colors - end
// ==================================================

// font weight - start
// ==================================================
//body font - Nunito - start
$fw-bold: 700;
$fw-regular: 400;
//body font - Nunito - end

//heading font - Roboto - start
$fw-bold: 700;
$fw-semibold: 500;
//heading font - Roboto - end
// font weight - end
// ==================================================

// default colors - start
// ==================================================
$purple-deep: #610fe1;
$purple-light: #8d2ce2;
$brinjal-color: #19072d;
$royalblue-color: #2a1786;
$default-color: #656565;
$default-black: #222222;
// default colors - end
// ==================================================

// custom colors - start
// ==================================================
$pure-white: #ffffff;
$pure-black: #000000;

$deep-gray: #f0f0f0;
$light-gray: #f7f7f7;
$rating-star: #f2b01e;

$twitter: #1da1f2;
$youtube: #ff0000;
$facebook: #3b5998;
$linkedin: #007bb5;
$pinterest: #bd081c;
$google-plus: #db4437;
$instagram-magenta: #c32aa3;

// custom colors - end
// ==================================================



// transition - start
// ==================================================
$default-transition: all .3s ease-in-out;
// transition - end
// ==================================================